::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    background: var(--html-bg);
}

body {
    max-width: 800px;
    margin: 1rem auto;
    padding: 0.2rem 2rem;
    font-family: var(--font);
    color: var(--text);
    font-weight: 500;
    border-radius: 0.3rem;
}

.muted {
    color: var(--text-mutted) !important;
    cursor: default;
    font-weight: 500;
}

a {
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: var(--highlight);
}

.grid {
    display: flex;
    gap: 2rem;
}

@media (max-width: 800px) {
    body {
        margin: auto;
    }

    .grid {
        display: block;
    }
}

.text-box {
    border: 2px solid;
    margin: 2rem 0 0 0;
    padding: 0rem 2.5rem 0rem 2.5rem;
    border-radius: 0.5rem;
    background: var(--bg);
}

.tag {
    border: 2px solid var(--primary);
    background: var(--tag-bg);
    border-radius: 1rem;
    padding: 0.1rem 0.8rem;
    font-size: 0.8rem;
    transition: background-color 0.15s ease-in-out;
}

.tag:hover {
    background: var(--tag-bg-hover);
    cursor: default;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.project {
    font-size: 0.9rem;
    transition: background-color 0.15s ease-in-out;

    a {
        font-weight: lighter;
    }
}

.project:hover {
    background: var(--project-bg-hover);
}

.project-list {
    list-style-type: none;
    padding: 0;
}

.education-list {
    font-size: .9rem;
    list-style-type: none;
    padding: 0;

    li {
        background: var(--bg);
        transition: color 0.15s ease-in-out;
        cursor: default;
    }

    li:hover {
        background: var(--project-bg-hover);
    }
}

.text-primary {
    color: var(--primary);
}
